/*HEADER*/
header{
    background-color: var(--bg-color1);
    border-bottom: 1px solid var(--bg-color5);
    width: 100%;
    height: 13vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    top: 0;
    transition: .5s;
}
header.hidden{
    transform: translateY(-110%);
}
/*ICONES DO HEADER*/
header i{
    position: absolute;
    padding: 20px;
    cursor: pointer;
}
.filter{
    left: 10%;
}
.back{
    position: absolute;
    top: 5%;
    left: 2%;
    font-size:1.8rem;
}
.menu, .person{
    font-size: 1.5rem;
    color: var(--font-color2);
}
.menu{
    right: 2%;
}
.person{
    left: 6%;
}
.bag, .search{
    font-size: 1.2rem;
    color: var(--font-color2);
}
.search{
    right: 6%;
}
.bag{
    left: 3%;
}
/*BARRA DE PERFIL*/
.person-bar{
    width: 20%;
    height: auto;
    background-color: var(--bg-color1);
    position: fixed;
    z-index: 3;
    top: 13%;
    left: 2%;
    overflow: hidden;
    display: none;
    align-items: center;
    justify-content: center;
    transition: 1s;
}
.person-bar.show{
    display: flex;
}
.person-bar nav, .menu-bar nav{
    width: 100%;
    height: 100%;
    color: var(--font-color2);
}
.person-bar nav ul,.menu-bar nav ul{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.person-bar nav ul a li, .menu-bar nav ul a li{
    color: var(--font-color2);
    position: relative;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.person-bar nav ul a li:after, .menu-bar nav ul a li:after,
.info-column a:after, .devs .about:after,.menu-bar section a:after{
    content: "";
    background-color: var(--bg-color2);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    transition: .3s;
}
.person-bar nav ul a li:hover:after, .menu-bar nav ul a li:hover:after, 
.info-column a:hover:after, .devs .about:hover:after, .menu-bar section a:hover:after{
    width: 100%;
}
.overlay{
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 1s;
}
.overlay.show{
    opacity: 1;
    z-index: 3;
}
/*BARRA DE PESQUISA*/
.search-screen{
    width: 100vw;
    height: 50vh;
    background-color: var(--bg-color1);
    position: fixed;
    top: -50%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    transition: .5s;
}
.search-screen.show{
    top: 0;
}
.search-bar{
    width: 50%;
    height: 15%;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 15%;
    padding: 20px;
}
.search-bar p{
    cursor: pointer;
}
.search-screen hr{
    width: 45%;
    height: 2px;
    background: var(--bg-color2);
}
.search-screen ul{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search-screen ul li{
    font-size: 1.1rem;
    color: var(--font-color2);
    cursor: pointer;
    transition: .5s;
}
.search-screen img{
    bottom: 0;
}
.search-btn{
    cursor: pointer;
}
/*BARRA DE MENU*/
.menu-bar{
    background-color: var(--bg-color1);
    width: 40%;
    height: 100vh;
    overflow-y: scroll;
    position:fixed;
    z-index: 3;
    right: -40%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    transition: .5s;
}
.menu-bar.show{
    right: 0;
}
.close{
    font-size: 2rem;
    color: var(--font-color2);
    position: absolute;
    right: 3%;
    top: 3%;   
    cursor: pointer;
}
.menu-bar nav{
    padding: 15%;
}
.menu-bar section{
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    border-top: 1px solid rgb(168, 168, 168);
}
.menu-bar section a li{
    font-size: 1.5rem;
}
.menu-bar section a{
    font-size: 1.2rem;
    color: var(--font-color2);
    position: relative;
}
.menu-bar section hr{
    width: 100%;
    height: 2px;
    background-color: var(--bg-color2);
}
/*ELEMENTOS PRINCIPAIS DO CORPO*/
main{
    height: auto;
    width: 100%;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 180vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-img{
    position:relative;
    height: 95vh;
}
.container-img img{
    width:100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.filtered-container{
    position:relative;
    height: 95vh;
    background-attachment: fixed;
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.filtered-container::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}
/*FOOTER*/
footer{
    width: 100%;
    height: 100vh;
    border-top: 1px solid var(--bg-color5);
    position: relative;
    bottom: 0;
    display: flex;
    align-items: start;
    justify-content: center;
}
footer .sumario{
    border-bottom: 1px solid var(--bg-color6);
    position: relative;
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 80px;
    flex-wrap:wrap;
    transition: .5s;
}
.sumario .column:nth-child(1){
    grid-column: 1;
}
.sumario .column:nth-child(2){
    grid-column: 2;
}
.sumario .column:nth-child(3){
    grid-column: 3;
}
.sumario .column:nth-child(4){
    grid-column: 4;
}
.sumario .column{
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    transition: .5s;
}
.sumario .column .header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}
.sumario .column .header h1{
    font-size: .9rem;
    font-weight: 400;
}
.sumario .column .header .close{
    display: none;
}
.sumario .column ul{
    width:100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 15px;
}
.sumario .column ul li{
    text-align: justify;
    font-size: 1rem;
    font-weight: 300;
}
/*FOOTER EMPRESA*/
.devs{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
}
.devs .copyright{
    position: absolute;
    right: 5%;
    top: 20%;
    width: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
}
.devs h4,.devs .about{
    position: absolute;
    right: 5%;
    font-size: 1rem;
    font-weight: 300;
}
.devs .about{
    bottom: 35%;
}
.social-emp{
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer .logo{
    bottom: 0%;
}
/*RESPONSIVIDADE DOS LAYOUTS DA PAGINA*/
@media screen and (width < 640px){
    /*RESPONSIVIDADE DO HEADER*/
    body header{
        width: 100%;
        height: 10dvh;
        position: fixed;
        z-index: 3;
    }
    /*RESPONSIVIDADE DOS ICONES DO HEADER*/
    header i{
        padding: 0;
    }
    header .back{
        font-size: 150%;
        top: 22%;
        left: 7%;
    }
    header .search{
        font-size: 100%;
        right: 15%;
    }
    header .person{
        font-size: 125%;
        left: 5%;
    }
    header .filter{
        font-size: 100%;
        left: 15%;
    }
    header .bag{
        display: none;
    }
    /*RESPONSIVIDADE DA BARRA DE MENU*/
    header .menu{
        font-size: 125%;
        right: 5%;
    }
    body .menu-bar{
        width: 100%;
        height: 100dvh;
        right: -120%;
        overflow-x: hidden;
    }
    body .menu-bar .close{
        right: 5%;
    }
    body .menu-bar.show{
        left: 0%;
    }
    body .menu-bar nav ul{
        width: 100%;
        height: 100%;
        margin-top: 30px;
        padding: 0;
    }
    .menu-bar section{
        width: 100%;
        align-items: start;
        padding: 30px;
    }
    /*RESPONSIVIDADE DA BARRA DE PERFIL*/
    body .person-bar{
        z-index: 1;
        width: 60%;
        left: 0;
    }
    body .person-bar.show{
        top: 8%;
    }
    body .person-bar nav ul a li{
        font-size: 1rem;
    }
    /*RESPONSIVIDADE DA BARRA DE PESQUISA*/
    .search-screen #srch-close{
        left: 45%;
        transform: translate(-50% -50%);
    }
    .search-screen{
        top: -60%;
        height: 40vh;
    }
    .search-screen.show{
        top: 0;
    }
    .search-bar{
        width: 90%;
        height: 10%;
        top: 25%;
        padding: 20px;
        gap: 10px;
    }
    .search-screen hr{
        width: 100%;
    }
    .search-screen ul{
        width: 120%;
        justify-content: space-around;
        gap: 10px;
    }
    .search-screen ul li{
        font-size: .8rem;
    }
    /*RESPONSIVIDADE DO CONTEUDO PRINCIPAL DO CORPO*/
    body main{
        width: 100%;
    }
    body main .container{
        width: 100%;
        background-color: var(--bg-color1);
    }
    body .container-img{
        height: 60vh;
    }
    /*RESPONSIVIDADE DO FOOTER*/
    body footer{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }
    footer .sumario{
        position: relative;
        height: auto;
        grid-template-columns: 1fr;
        flex-wrap: wrap;
        gap: 0px;
    }
    footer .sumario .column{
        position: relative;
        width: 100%;
        max-height: 70px;
        transition: max-height .5s ease-in-out;
    }
    footer .sumario .column.active{
        max-height: 500px;
    }
    footer .sumario .column .header{
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 20px;
        border-top: 1px solid var(--bg-color5);
        position:absolute;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 70px;
    }
    footer .sumario .column .header h1{
        font-size: 1rem;
        font-weight: 300;
    }
    footer .sumario .column .header .column-close{
        font-size: 1rem;
        display: flex;
        right: 10%;
        top: 40%;
        transform: rotate(-45deg);
        transition: .3s;
    }
    footer .sumario .column .header .column-close.active{
        transform: rotate(-90deg);
    }
    footer .sumario .column ul{
        padding: 10px;
        margin-top: 60px;
    }
    /*RESPONSIVIDADE DO FOOTER EMPRESA*/
    .devs{
        position: relative;
        width: 100%;
        height: 50vh;
    }
    .devs .copyright{
        top: 10%;
        right: 5%;
        width: 90%;
        font-size: .8rem;
    }
    .devs h4{
        display: none;
    }
    .devs .about{
        font-size: .8rem;
        top: 45%;
        right: 2%;
    }
    .social-emp{
        top: 45%;
        left: 5%;
        gap: 10px;
        align-items: start;
    }
    .logo-emp{
        display: none;
    }
}