/*Footer cor preta*/
.info-column a:after, .devs .about:after{
    content: "";
    background-color: var(--bg-color1);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    transition: .3s;
}
.info-column a:hover:after, .devs .about:hover:after{
    width: 100%;
}
footer{
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 3px var(--bg-color3);
    background-color: var(--bg-color2);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    box-shadow: 0px 1px 3px var(--bg-color3);
}
.info:nth-child(1){
    grid-column: 1;    
}
.info:nth-child(2){
    grid-column: 2;    
}
.info:nth-child(3){
    grid-column: 3;    
}
.info:nth-child(4){
    grid-column: 4;    
}
.info-column{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 60px;
    position: relative;
    overflow: hidden;
}
.info-column h2{
    font-size: .8rem;
    font-weight: 400;
    color: var(--font-color1);
    position: absolute;
    top: 10%;
}
.info-column a{
    color: var(--font-color1);
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: .5s;
}
.info-column a:hover{
    color: var(--font-color5);
}
.info-column p{
    text-align: justify;
    word-spacing: 0px;
    color: var(--font-color1);
}
.devs{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
}
.devs .copyright{
    position: absolute;
    right: 5%;
    top: 20%;
    width: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
}
.devs .copyright a{
    color: var(--font-color1);
}
.devs h4,.devs .about{
    position: absolute;
    right: 5%;
    font-size: 1rem;
    font-weight: 300;
    color: var(--font-color1);
}
.devs .about{
    bottom: 35%;
}
.social-emp{
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer h2{
    bottom: 5%;
    color: var(--font-color1);
}
@media screen and (min-width: 100px) and (max-width: 600px){
    body footer{
        width: 100%;
        height: 150dvh;
    }
    body .info{
        width: 100%;
        height: 100dvh;
        grid-template-rows: 50%;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    body .info:nth-child(1){
        grid-column: 1; 
    }
    body .info:nth-child(2){
        grid-column: 2;    
    }
    body .info:nth-child(3){
        grid-column: 3;    
    }
    body .info:nth-child(4){
        grid-column: 4;   
    }
    body .info-column{
        width: 200%;
    }
    body .info-column h2{
        color: var(--font-color1);
        font-size: .8rem;
        font-weight: 400;
        position: absolute;
        top: 5%;
    }
    body .info-column a{
        color: var(--font-color1);
        font-size: .9rem;
        font-weight: 400;
        cursor: pointer;
        position: relative;
        z-index: 1;
        transition: .5s;
    }
    body .info-column p{
        font-size: .9rem;
        width: 50%;
        text-align: justify;
        word-spacing: 0px;
    }
    /*Footer empresa*/
    .devs .copyright,
    .devs h4,.devs .about{
        right: 2%;
    }
    .social-emp{
        top: 60%;
        left: 0%;
        align-items: start;
    }
    footer .logo{
        bottom: 0%;
    }
}