/*COMPONENTES DE TEXTOS*/
.title{
    position: absolute;
    color: var(--font-color2);
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Cinzel", serif;
}
.subtitle{
    position: absolute;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: "Cinzel", serif;
}
.topico{
    position: absolute;
    font-size: 3rem;
    font-weight: 300;
    font-family: "Afacad Flux", sans-serif;
}
/*COMPONENTES DE LOGOTIPOS*/
.logo{
    width: 10%;
    position: absolute;
}
.icon-redes{
    width: 2.5rem;
    cursor: pointer;
    transition: .5s;
}
.logo-emp{
    width: 5rem;
}
.icon-redes:hover{
    scale: 1.1;
}
/*COMPONENTES DE BOTÕES*/
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 5vh;
    padding: 20px;
    border-radius: 50px;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 400;
    background: transparent;
    cursor: pointer;
    transition: .5s;
}
.black-btn{
    border: 2px solid black;
    color: var(--font-color2);
}
.black-btn:hover{
    background-color: rgba(0, 0, 0, 0.288);
}
.white-btn{
    border: 2px solid white;
    color: var(--font-color1);
    transition: .5s;
}
.white-btn:hover{
    background-color: rgba(117, 117, 117, 0.288);
}
/*COMPONENTES DE INPUTS*/
.srch-inp{
    width: 85%;
    height: 2rem;
    border: none;
    border-left:1px solid black;
    border-right:1px solid black;
    font-size: 1rem;
    padding: 10px;
}
.srch-inp:focus{
    outline: none;
}
.srch-inp::placeholder{
    font-size: 1rem;
    font-weight: 500;
    color: var(--font-color6);
}
/*COMPONENTES DE CARDS*/
.card-box{
    width: 80%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
    row-gap:20px;
}
.prod-box{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
    row-gap: 20px;
}
.cards{
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}
.cards p{
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--font-color1);
}
.cards:hover .card-img, .cards:hover p{
    border-radius: 50px;
    text-decoration: underline;
}
.cards-prod{
    width: 25%;
    height: 25rem;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}
.card-img{
    width: 95%;
    height: 85%;
    background-color: var(--bg-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.card-img img{
    object-fit: cover;
}
.prod-img{
    width: 95%;
    height: 85%;
    background-color: var(--bg-color2);
    border: 1px solid white;
    box-shadow: 0px 1px 3px black;
    overflow: hidden;
    position: relative;
    transition: .5s;
}
.prod-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.preco{
    color:var(--font-color6);
    font-weight: 800;
}
/*RESPONSIVIDADE DOS COMPONENTES*/
@media screen and (width < 640px){
    body .title{
        font-size: 120%;
    }
    body .topico{
        left: 0;
        width: 110%;
        font-size: 1.5rem;
    }
    body .card-box,
    body .prod-box{
        width: 120%;
        height: 86%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 40px;
    }
    body .cards{
        height: 30%;  
    }
    body .card-box .cards{
        margin-top: 15%;
    }
    body .cards,
    body .cards-prod{
        width: 45%;
        gap: 0;
    }
    body .cards-prod{
        height: 40vh;
    }
    .cards-prod:nth-child(9),
    .cards-prod:nth-child(10),
    .cards-prod:nth-child(11),
    .cards-prod:nth-child(12){
        display: none;
    }
    body .cards p{
        font-size: 1rem;
    }
    .btn{
        width: auto;
    }
    .icon-redes{
        width: 1.5rem;
    }
    .logo{
        width: 20%;
    }
}