/*ESTILIZAÇÕES ESPECIFICAS*/
body{
    gap: 50px;
}
.back{
    color: var(--font-color2);
}
/*CORPO DA PAGINA DE LOGIN*/
.accout{
    position: relative;
    top:50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 200vh;
}
.accout h2{
    width: 30%;
    height: 12vh;
    font-weight: 600;
    position: relative;
    bottom: 10.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*FORM DE CADASTRO*/
.accout .cad{
    grid-column: 1;
}
.accout .cad, .accout .login{
    width: 80%;
    height: 20%;
    background-color: var(--bg-color1);
    position: relative;
    bottom: 10.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.cad h1 , .login h1{
    font-size: 4rem;
    font-weight: 200;
    color: var(--font-color2);
}
.login h1{
    position: absolute;
    top: 0;
}
.cad .op-cad{
    width: 30%;
    height: 50px;
    border: 2px solid  var(--bg-color3);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: .5s;
}
.cad .op-cad:hover{
    border: 2px solid var(--bg-color2);
}
.cad .op-cad:hover  h3{
    color: var(--font-color2);
}
.op-cad img{
    width: 40px;
}
.op-cad h3{
    color: var(--font-color3);
    font-size: 1.2rem;
    font-weight: 500;
    transition: .5s;
}
/*FORM DE LOGIN*/
.accout .login{
    grid-column: 2;
    height: 40%;
}
.login p{
    font-size: 1.5rem;
    font-weight: 300;
}
.login .input{
    width: 40%;
    height: 60px;
    border: 1.5px solid var(--bg-color4);
    padding: 20px;
    font-size: 1.2rem;
}
.login .input::placeholder{
    font-size: 1.2rem;
    color: var(--font-color2);
}
.login .input:focus{
    outline: none;
}
.login a{
    color: var(--font-color2);
    font-size: 1rem;
    font-weight: 500;
}
.btn-login{
    width: 40%;
    height: 60px;
    border: none;
    background-color: var(--bg-color4);
    font-size: 1.5rem;
    color: var(--font-color1);
    cursor: pointer;
    transition: .5s;
}
.btn-login:hover{
    background-color: var(--bg-color2);
}
/*CARDS DO LOGIN*/
.upgrade{
    position: absolute;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 25%;
}
.pros{
    width: 20%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.pros:nth-child(1),.pros:nth-child(3){
    margin-bottom: 10%;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.pros p{
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}
/*FOOTER CORES PRETAS*/
footer{
    background-color: var(--bg-color2);
}
.info-column a:after, .devs .about:after{
    background-color: var(--bg-color1);
}
.info-column a:hover:after, .devs .about:hover:after{
    width: 100%;
}
footer h2,.devs h4,.devs .about,.devs .copyright a,.info-column p,
.info-column a,.info-column h2{
    color: var(--font-color1);
}
.info-column a:hover{
    color: var(--font-color5);
}
/*RESPONSIVIDADE DA PAGINA DE LOGIN*/
@media screen and (min-width: 100px) and (max-width: 600px) and (max-height: 900px){
    body .accout{
        height: 150dvh;
        justify-content: end;
    }
    body .accout .login{
        height:50%;
    }
    body .cad h1 , body .login h1{
        font-size: 2rem;
    }
    .cad .op-cad{
        width: 120%;
    }
    body .accout h2{
        font-size: 1.5rem;
    }
    body .login p{
        font-size: 1.2rem;
    }
    .login .input{
        width: 120%;
        font-size: 1rem;
    }
    .login button{
        width: 100%;
        z-index: 10;
    }
    body .pros{
        display: none;
    }
}